<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sam Janvey | Project 1 | Vue.js Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./game.js" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <script type='text/x-template'
            id='round-detail'>
        <div :class="{ winner : winner == 'Player', loser : winner == 'Dealer'}">
            <ul>
                <li>Round #: {{ number }}</li>
                <li>Winner: {{ winner }}</li>
                <li><slot name='choice'></slot></li>
                <li><slot name='actual'></slot></li>
            </ul>
        </div>
        </script>

        <div id='app' v-cloak>
            <div class="container">
                <h1>Welcome To Sam's Casino</h1>
                <div id="dealer">
                    <img src="./images/pickAnumber.jpg" alt="Angsty Card Dealer">
                </div>
                <h1>Let's Play</h1>
                <div class="game">
                    <label>Pick a number between 1 and 10: <input type="number" min=1 max=10 v-model.number='choice'></label>
                    <button id="guess-btn" @click='guess'>Guess</button>
                    <div class="feedback" v-if='feedback'>
                        <p v-if='playerWon'>You Won</p>
                        <p v-else>You Lost</p>
                        <button id='play-again' @click='reset'>Play again</button>
                        <button id='reset-game' @click='resetGame'>Reset Game</button>
                    </div>
                    <div v-if='rounds.length !== 0'>
                        <round-detail v-for='x in rounds'
                        :number='x.number'
                        :winner='x.winner'
                        :key='x.number'>
  
                            <template #choice>You chose {{ x.choice }}</template>
    
                            <template #actual>The correct number was {{ x.actual }}</template>
                        </round-detail>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>